ul li {
    font-size: var(--font-size-b1) !important;
    line-height: var(--line-height-b1) !important;
    margin-top: -3px !important;
    margin-bottom: 10px !important;
    /* color: var(--color-body); */
    color: black !important;
}

.input-two-wrapper .currency {
    width: 100% !important;
}

.dropzone {
    background: var(--color-primary) !important;
    border: 2px dotted #ddd !important;
    border-radius: 9px !important;
    padding: 29px !important;
}

.input-two-wrapper .currency {
    margin-right: 0px !important;
}

.input-two-wrapper .profile-edit-select {
    margin-top: 0px !important;

}

label {
    margin-top: 10px !important !important;
}

.left-nav {
    padding: 0 !important;
    margin-bottom: 10px !important;
}

ul li {
    font-size: var(--font-size-b1) !important;
    line-height: var(--line-height-b1) !important;
    margin-top: -3px !important;
    margin-bottom: 10px !important;
    color: var(--color-body) !important;

}

.custom-select-design {
    position: relative;
}

.left-nav {
    padding: 0;
    margin-bottom: 10px;
}

ul li {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    margin-top: -3px;
    margin-bottom: 10px;
    color: var(--color-body);
}

.custom-select-design {
    position: relative !important;
}

.full-wid.currency.al_show_error {
    margin-bottom: 16px !important;
    height: 100% !important;
}

#nav-proof {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
}